<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="main-content">
     {{>header}}
      <img class="portrait" src="/images/me.jpg" alt="me" />
      <p>{{about}}</p>
    </div>
    {{>footer}}
  </body>
</html>