<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/main.css" />
    
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        
        <p>Use this site to get weather info.</p>
        <form>
          <input type="text" placeholder="Location">
          <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    

    {{>footer}}
    <script src="/js/main.js"></script>
  </body>
</html>